{% extends 'base.html' %}
{% block body %}
<div class="flex justify-center h-screen">
    <div class="mt-10">
        <h1 class="my-8">Add Member</h1>
        <form method="post" class="text-right">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text-center mt-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded">Add Member</button>
            </div>
        </form>
        <div class="text-center mt-4">
            <a href="{% url 'members' %}"><button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded" type="button">Back to Members</button></a>
        </div>
    </div>
</div>

{% endblock %}
