{% extends 'base.html' %}
{% block body %}
<table>
    <tr>
        <th>Name</th>
        <th>Contact Number</th>
        <th>Outstanding Debt</th>
        <th>Aadhar Number</th>
        <th>Settle Debt</th>
    </tr>
    {% for member in members %}
    <tr>
        <td>{{ member.name }}</td>
        <td>{{ member.number }}</td>
        <td>{{ member.debt }}</td>
        <td>{{ member.aadhar_number }}</td>
        <td><a href="{% url 'settle_debt' member.id %}"><button class="bg-blue-500 hover:bg-blue-600 text-white font-semibold px-4 py-2 rounded">Settle</button></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}